<div class="popover" role="tooltip">
    <div class="arrow"></div>
    <h4 class="popover-title"></h4>

    <div class="popover-content">
        <div class="real-content">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-12">Tính Năng Cần Đăng Nhập</label>

                    <div class="col-xs-12">
                        <button class="btn btn-primary" ng-click="index.facebookLogin()">
                            <i class="fa fa-lg fa-myf2bw"></i>
                            Facebook
                        </button>
                        <button class="btn btn-danger" ng-click="index.googleLogin()">
                            <i class="fa fa-lg fa-myg2ow"></i>
                            Google+
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>