<div class="container" style="padding: 15px; background: #fff">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i>
                    <span>Tài khoản</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Tên</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="Thạch Đẹp Trai" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Tên Đăng Nhập</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="nvthach" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Mật khẩu</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly type="password" class="form-control" value="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Email</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="thach@sok.vn" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-facebook"></i>
                    <span>Facebook</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Tên</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="Thạch Đẹp Trai" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Tên Đăng Nhập</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="nvthach" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Mật khẩu</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly type="password" class="form-control" value="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Email</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="thach@sok.vn" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label"></label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <button class="btn btn-primary">Cập Nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <i class="fa fa-google-plus"></i>
                    <span>Google+</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Tên</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="Thạch Đẹp Trai" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Tên Đăng Nhập</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="nvthach" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Mật khẩu</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly type="password" class="form-control" value="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Email</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="thach@sok.vn" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label"></label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <button class="btn btn-danger">Cập Nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-twitter"></i>
                    <span>Twitter</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Tên</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="Thạch Đẹp Trai" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Tên Đăng Nhập</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="nvthach" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Mật khẩu</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly type="password" class="form-control" value="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label">Email</label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <input readonly class="form-control" value="thach@sok.vn" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-5 col-md-4 col-lg-3 control-label"></label>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                                <button class="btn btn-info">Cập Nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>